<IfModule mod_rewrite.c>
    RewriteEngine On

    # Skip existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything else to router.php
    RewriteRule ^ helpers/router.php [L]
</IfModule>
