.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.hero-actions {
    justify-content: center;
}

.hero-content {
    position: relative;
    z-index: 5;
    max-width: 900px;
    text-align: center;
}

.hero h1 span {
    display: block;
}

.background-text {
    position: absolute;
    inset: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    font-size: 28vw;
    font-weight: 900;
    line-height: 1;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        url("https://images.unsplash.com/photo-1555421689-491a97ff2040?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0.25;
    will-change: transform;
}

.tech-stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.tech-stack span {
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.7rem 1rem;
    border-radius: 999px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.03);
    color: #dce3ff;
    font-size: 0.9rem;
}